/*////Stylesheet for Ceoltoiri CLuain Tarbh////////////////////////////////////////////////////////*/

/*
////////////////////////////////////////////////////////
	Reset
////////////////////////////////////////////////////////
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font: inherit;
  	font-size: 100%;
  	vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  	list-style: none;
}

table {
  	border-collapse: collapse;
  	border-spacing: 0;
}

caption, th, td {
  	text-align: left;
  	font-weight: normal;
  	vertical-align: middle;
}

q, blockquote {
  	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  	content: "";
  	content: none;
}

a img {
  	border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  	display: block;
}

/*
////////////////////////////////////////////////////////
	Fonts & Vertical Rhythm
////////////////////////////////////////////////////////
*/

html {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 1.5em;
}

/*
////////////////////////////////////////////////////////
	Base Styles
////////////////////////////////////////////////////////
*/

body{
    color: #484848;
}

h1 {
  	font-size: 2.625em;
  	line-height: 1.14286em;
  	margin-top: 0em;
  	padding-top: 0.42857em;
  	padding-bottom: 0.42857em;
  	margin-bottom: 0em;
}

h2 {
  	font-size: 1.875em;
    font-weight: 700;
  	line-height: 1.6em;
  	margin-top: 1em;
  	padding-top: 0em;
  	padding-bottom: 0em;
  	margin-bottom: 20px;
    border-top: 1px solid #fff;
    box-shadow: 0 -1px 0 #ccc; 
}

h3{
    color: #b6b6b6;
    text-shadow: 1px 1px 1px #fff;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.2em;
    margin-top: 2em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0.8em;
}

ul{
    list-style: none;
    margin: 0 0 1em 3em;
}

li{
    font-size: 0.8em;
}

a{
    color: #b22020;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

p {
    font-family: 'Times New Roman', serif;
  	font-size: 1em;
  	line-height: 1.5em;
    margin: 0 2% 1.5em 2%;
}

footer {
  	font-size: 0.75em;
  	line-height: 2em;
}

body {
  	background-color: #eeeeee;
  	color: #484848;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            Clearfix 
(http://nicolasgallagher.com/micro-clearfix-hack/)
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.cf:before,
.cf:after {
  	content: " ";
  	display: table;
}

.cf:after {
  	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*
////////////////////////////////////////////////////////
	Toolbar & Header
////////////////////////////////////////////////////////
*/

#toolbar{
  width: 100%;
  height: 26px;
  background: #484848;
  box-shadow: 0px 1px 5px 2px #000;
}

#login{
  float: left;
  width: 30%;
  height: 26px;
  margin: 0 0 0 10%;
}

#login li{
  float: left;
  width:25%;
  height: 26px;
}

#contact{
  float: right;
  width: 108px;
  margin: 0 10% 0 0;
}

#contact li{
  float: left;
  width: 36px;   
}

#toolbar a{
  display: block;
  color: #e3e3e3;
  text-align: center;
  font-weight: 700;
  height: 23px;
  margin-right: 5px;
  padding: 3px 5px 0 0;
  transition: background-color 1s ease;
  -webkit-transition: background-color 0.5s ease;
}

#toolbar a:hover, #toolbar a:focus{
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
}

#toolbar #contact img{
    width:26px;
    height:26px;
    margin: 0;
    transition: background-color 1s ease;
    -webkit-transition: background-color 0.5s ease;
}

#toolbar #contact a{
    height: 26px;
    margin: 0 10px 0 0;
    padding: 0;
}

#toolbar #contact img:hover, #toolbar #contact img:focus{
    background-color: rgba(0, 0, 0, 0.3);
}

header{
    width: 100%;
    background-color: rgba(227, 227, 227, 1);
}

header img{
    float: left;
    width: 68px;
    height: 78px;
    margin: 30px 0 0 10%;
}

hgroup{
    font-family: 'Times New Roman', serif;
    float: left;
    width: 300px;
    height: 75px;
    margin: 50px 0 10px 10px;
}

hgroup h1{
    color: #484848;
    font-size: 3.5em;
    text-transform: uppercase;
    padding: 0;
    line-height: 0.2;
}

hgroup h2{
    color: #b22020;
    font-size: 2.25em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    border-top: none;
    box-shadow: none;
}

header form{
    float: right;
    margin: 30px 10% 0 0;
    background-color: rgba(178, 178, 178, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.button {
    color: #484848;
    background-color: #dfdfdf;
    font-size: 0.6em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block; 
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    padding: 0px 5px;
    text-shadow:0px 1px 0px #e3e3e3;
    box-shadow: 0px 1px 0px 0px #e3e3e3;
    background:-webkit-linear-gradient(#ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(#ededed 5%, #dfdfdf 100%);
    background:-moz-linear-gradient(#ededed 5%, #dfdfdf 100%);
    background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.05, #ededed), to(#dfdfdf));
    background:linear-gradient(#ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
}

.button:hover {
    background:-webkit-linear-gradient(#dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(#dfdfdf 5%, #ededed 100%);
    background:-moz-linear-gradient(#dfdfdf 5%, #ededed 100%);
    background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.05, #dfdfdf), to(#ededed));
    background:linear-gradient(#dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
}

.button:active {
    position:relative;
    top:1px;
}

#to_nav{
	 display: none;
}

#skipnav{
	 position: absolute;
	 top: 0px;
	 left: -100%;
}

/*
////////////////////////////////////////////////////////
	Nav
////////////////////////////////////////////////////////
*/

nav {
 	  width: 80%;
    margin: 0 auto;
  	overflow: hidden;
}

nav ul{
    margin: 0;
}

nav ul li {
  	float: left;
  	width: 19%;
    font-size: 1em;
    height: 4.5em;
    padding-left: 5px;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
}

nav ul li:first-child{
    margin-left: 1px;
    box-shadow: -1px 0 0 0 #ccc;
}

nav ul li a, nav .dropdown li:first-child{
    margin-left: 0;
    box-shadow: none;
}

nav ul li:last-child{
    border-right: none;
}

nav ul li a, nav .selected {
    color: #484848;
    font-weight: 800;
  	text-transform: uppercase;
    text-shadow: 1px 1px 1px #fff;
  	display: block;
  	width: 100%;
}

nav .selected {
    width: 19%;
    background-color: rgba(178, 178, 178, 0.3);
}

nav ul li a{
    transition: color 0.5s ease;
}

nav ul li:hover, nav ul li:focus {
    text-decoration: none;
    background-color: rgba(178, 178, 178, 0.3);
}

.dropdown li:hover, .dropdown li:focus, .drop li {
    background-color: rgba(178, 178, 178, 0);
}

nav ul li a:hover, nav ul li a:focus {
    color: #b22020;
    text-decoration: none;
}

nav ul li .dropdown {
  	width: 10%;
  	position: absolute;
    margin-top: -5px;
  	left: -999%;
  	opacity: 0;
  	transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
}

nav ul li .dropdown li {
  	float: none;
    width: 100%;
    height: 1rem;
    padding: 0;
    border: none;
}

nav ul li .dropdown li a {
  	display: block;
    font-size: 0.8em;
    font-weight: 400;
    text-transform: lowercase;
    text-shadow: none;
}

nav ul li .dropdown li a:first-letter {
    text-transform: uppercase;
}

nav ul li .dropdown li a:hover, nav ul li .dropdown li a:focus {
    color: #fff;
    text-decoration: none;
}

nav ul li:hover .dropdown {
 	  left: auto;
 	  opacity: 1;
}

.drop .selected{
    float: none;
    width: 100%;
    height: 1rem;
    padding: 0;
    color: #b22020;
    font-size: 0.8em;
    font-weight: 400;
    text-transform: lowercase;
}

.drop .selected:first-letter {
    text-transform: uppercase;
}

.dropdown {
	   z-index:10;
}

/*
////////////////////////////////////////////////////////
	Content - Home
////////////////////////////////////////////////////////
*/

main{
    min-height: 250px;
    width: 80%;
    margin: 20px 10%;
}

#current{
    background-color: #fff;
    height: 350px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgb(193, 196, 186);
}

#current figure{
    float: left;
    width: 60%;
    height: 330px;
    margin: 10px 0 0 1%;
    overflow: hidden;
}

#current-text{
    font-family: 'Times New Roman', serif;
    float: left;
    width: 36%;
    height: 330px;
    margin: 10px 0 0 2%;
    overflow: hidden;
    position: relative;
}

#current-text h2{
    margin-top: 0;
    border-top: none;
    box-shadow: none;
}

#current-text p{
    height: 100px;
    overflow: hidden;
}

#current-text a, .sub-article a, .news-article a, .events a{
    color: #484848;
    text-decoration: none;
}

#current-text a:hover, #current-text a:focus, .sub-article a:hover, .sub-article a:focus, .news-article a:hover, .news-article a:focus, .events a:hover, .events a:focus{
    color: #b22020;
}

#current-text .read{
    position: absolute;
    bottom: 0;
    right: 0; 
}

#sub-articles{
    width: 100%;
    margin: 50px 0;
    padding-top: 30px;
    border-top: 1px solid #fff;
    box-shadow: 0 -1px 0 #e3e3e3;
}

.sub-article{
    width: 23.33333%;
    margin: 0 5%;
    float: left;
}

.sub-article h2{
    font-weight: 800;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 10px;
    box-shadow: none;
    border-top: none;
}

.sub-article p{
    margin: 0;
}

.sub-article .read{
    margin-top: 10px;
}

#home-events{
    width: 100%;
    height: 200px;
    margin: 0;
    background-color: rgba(178, 178, 178, 0.2);
    padding: 10px;
    border-radius: 10px;
}

/*
////////////////////////////////////////////////////////
  Content - News
////////////////////////////////////////////////////////
*/

#news-articles{
    width: 100%;
}

.news-article{
    width: 45%;
    height: 400px;
    margin: 0 2.5% 50px 2.5%;
    float: left;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgb(193, 196, 186);
    position: relative;
}

.news figure{
  width: 100%;
  height: 200px;
  margin: 10px 0;
  overflow: hidden;
}

.news img{
  width: 95%;
  margin: 0 2.5%;
}

.news-article h2{
    font-weight: 800;
    font-size: 1em;
    margin: 10px 2.5%;
    height: 3em;
    box-shadow: none;
    border-top: none;
}

.news p{
  margin: 0 2.5%;
  height: 4.8em;
  overflow: hidden;
}

.news .read{
  position: absolute;
  bottom: 10px;
  right: 2.5%;
}

/*
////////////////////////////////////////////////////////
  Content - Events
////////////////////////////////////////////////////////
*/

.events .event{
    width: 100%;
    height: 220px;
    margin: 0 0 40px 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgb(193, 196, 186);
    position: relative;
}

.event figure{
    float: left;
    width: 28%;
    height: 200px;
    margin: 10px 1% 10px 1%;
    overflow: hidden;
}

.event img{
  width: 100%;
}

.event dl{
    float: left;
    width: 67%;
    margin: 10px;
    height: 150px;
}

.event dt{
    font-weight: 700;
    float: left;
    width: 100px;
    margin-right: 20px;
}

.event dd{
    font-family: 'Times New Roman', serif;
    float: right;
    width: 80%;
    max-height: 100px;
    overflow: hidden;
}

.event .read{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.events .more{
    float: right;
    margin-right: 5%;
}

/*
////////////////////////////////////////////////////////
  Content - Classes
////////////////////////////////////////////////////////
*/

.classes ul{
    float: left;
    width: 28%;
}

iframe{
    width: 60%;
    height: 200px;
    margin: 10px 20%;
    background-color: rgba(178, 178, 178, 0.2);
    padding: 10px;
    border-radius: 10px;
}

#map-text{
    width: 60%;
    margin-left: 20%; 
}

.calendar{
    height: 400px;
}

/*
////////////////////////////////////////////////////////
	Footer
////////////////////////////////////////////////////////
*/

footer{
    background-color: #666666;
    color: e3e3e3;
    margin-top: 50px;
}

footer ul{
    float: left;
    width: 20%;
    list-style: none;
    margin: 20px 0 20px 10%;
}

footer h3{
    color: #e3e3e3;
    font-size: 1.2em;
    font-weight: 700;
    width: 60%;
    text-transform: uppercase;
    text-shadow: none;
    margin: 0;
    padding: 10px 0;
}

footer li{
    width: 60%;
    min-width: 160px;
}

footer ul li:first-child {
    border-bottom: 1px solid #484848;
}

footer ul li:nth-child(2) {
    border-top: 1px solid #808080;
}

footer a, footer .selected{
    color: #e3e3e3;
    display: block;
    width: 60%;
    padding-left: 2px;
    border-radius: 2px;
    transition: color 1s ease, background-color 0.5s ease;
    webkit-transition: color 1s ease, background-color 0.5s ease;
}

footer .selected{
    color: #484848;
}

footer a:hover, footer a:focus {
    color: #484848;
    background-color: rgba(227, 227, 227, 0.5);
    text-decoration: none;
}

/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  Media Queries
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media only screen and (max-width: 1260px){

.event dd{
    width: 70%;
}

}

@media only screen and (max-width: 1110px) {

#current-text h2{
    font-size: 1.5em;
}

.classes ul{
    float: left;
    width: 26%;
}

}

@media only screen and (max-width: 1000px) {

nav ul li .dropdown {
    left: auto;
    opacity: 1;
}

}

@media only screen and (max-width: 940px) {

.event dl{
    width: 60%;
}

.event dd{
    width: 60%;
}

}

@media only screen and (max-width: 900px) {

nav {
    width: 100%;
}

.sub-article{
    width: 90%;
    margin: 0 5%;
    float: none;
}

.sub-article .read{
    margin-bottom: 30px;
}

#home-events{
    width: 100%;
    height: 200px;
}

.news-article h2{
    font-size: 0.8em;
    height: 2.5em;
    margin-top: 0;
}

.classes ul{
    float: left;
    width: 24%;
}

.calendar{
    width: 90%;
    height: 400px;
    margin: 10px 5%;
}

}

@media only screen and (max-width: 790px){

.events .event{
    width: 100%;
    height: 500px;
}

.event figure{
    float: none;
    width: 95%;
    height: 250px;
    margin: 10px 2.5% 10px 2.5%;
    overflow: hidden;
}

.event img{
  width: 100%;
  margin-top: 10px; 
}

.event dl{
    float: none;
    width: 90%;
    margin: 10px;
    height: 150px;
}

.event dt{
    font-weight: 700;
    float: left;
    width: 100px;
    margin-right: 20px;
}

.event dd{
    font-family: 'Times New Roman', serif;
    float: right;
    width: 60%;
}


}

@media only screen and (max-width: 760px) {

header form{
  display: none;
}

.news-article h2{
    font-size: 0.7em;
    height: 3em;
}

}

@media only screen and (max-width: 715px) {

#login{
  margin: 0 0 0 5%;
}

#login li{
  width:40%;
}

#contact{
  margin: 0 5% 0 0;
}

nav ul{
    margin: 0;
}

nav ul li {
    width: 18.5%;
    font-size: 0.8em;
}

nav .selected {
    width: 18.5%;
}

nav ul li .dropdown {
    margin-top: -10px;
}

nav ul li .dropdown li {
    height: 0.7rem;
}

nav ul li .dropdown li a {
    font-size: 1em;
    font-weight: 400;
}

.drop .selected{
    height: 0.7rem;
}

.news-article{
  height: 330px;
}

.news figure{
  height: 150px;
}

.classes ul{
    float: left;
    width: 22%;
}

iframe{
    width: 80%;
    margin: 10px 10%;
}

}

@media only screen and (max-width: 640px){

.news-article{
    width: 100%;
    height: 400px;
    margin: 0 0 30px 0;
}

.news figure{
  width: 100%;
  height: 200px;
}

.news-article h2{
    font-size: 1em;
    margin: 10px 2.5%;
    height: 3em;
}

.classes ul{
    float: none;
    width: 80%;
}

iframe{
    width: 100%;
    margin: 0;
}

}

@media only screen and (max-width: 484px) {

nav {
    display: none;
}

#to_nav{
  display: block;
  width: 33px;
  height: 33px;
  text-indent: -9999px;
  background: url(../img/menu.png) no-repeat;
  position: absolute;
  top: 127px;
  right: 0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  box-shadow: -1px -1px 0 #ccc;
}

hgroup{
    width: 180px;
    margin: 50px 0 10px 5%;
}

hgroup h1{
    font-size: 2em;
}

hgroup h2{
    font-size: 1.3em;
}

main{
    width: 90%;
    margin: 20px 5%;
}

#current{
    height: 480px;
}

#current figure{
    float: none;
    width: 96%;
    height: 300px;
    margin: 10px 2%;
}

#current-text{
    float: none;
    width: 96%;
    height: 145px;
    margin: 10px 0 0 2%;
}

#current-text h2{
    font-size: 1.2em;
}

#current-text a, .sub-article a, .news-article a, .events a{
    color: #484848;
    text-decoration: none;
}

#current-text a:hover, #current-text a:focus, .sub-article a:hover, .sub-article a:focus, .news-article a:hover, .news-article a:focus, .events a:hover, .events a:focus{
    color: #b22020;
}

#home-events{
    width: 250px;
}

#current-text .read{
    position: absolute;
    bottom: 0;
    right: 0; 
}

iframe{
    width: 95%;
}

#map-text{
    width: 90%;
    margin-left: 0; 
}

.calendar{
    width: 95%;
    height: 200px;
    margin-left: 0;
}

footer{
    margin: 0;
    padding: 0;
}

footer h3, footer #social{
    display: none;
}

footer ul{
    float: none;
    width: 100%;
    margin: 0;
}

footer li{
    width: 100%;
    height: 40px;
    padding-top: 10px;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #484848;
}

footer ul li:first-child {
    display: none;
}

footer ul:first-child li:nth-child(2) {
    box-shadow: 0 -1px 0 #484848;
}

footer ul:nth-child(2) li:last-child {
    box-shadow: 0 1px 0 #808080;
}

footer a, footer li.selected{
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    padding-left: 0;
    border-radius: 0;
    transition: none;
    webkit-transition: none;
}

footer li.selected{
    font-size: 1.2rem;
    margin: 0;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #808080;
}

}

@media only screen and (max-width: 440px) {

#login li{
  width:50%;
}

hgroup h1{
    font-size: ;
}

hgroup h2{
    font-size:;
}

#current-text h2{
    font-size: 1em;
}

.event dd{
    width: 50%;
}

@media only screen and (max-width: 391px) {

header img{
    margin: 29px 10px;
}

hgroup{
    width: 200px;
    margin: 50px 0 10px 10px;
}

hgroup h1{
    font-size: 2.4em;
    padding: 0;
    line-height: 0.3;
}

hgroup h2{
    font-size: 1.551em;
    font-weight: 400;
    margin: 0;
}

.news-article h2{
    font-weight: 800;
    font-size: 0.8em;
    margin: 10px 2.5%;
    height: 3em;
    box-shadow: none;
    border-top: none;
}

.events .event{
    height: 520px;
}

.event figure{
    height: 200px;
}

.event dl{
    font-size: 0.8em; 
}

.event dd{
    float: left;
    width: 90%;
}

}
